extends layout/admin-layout
block scripts
    script.
        require(["popMenu"],function(j){
            $("#Set").popMenu({
                            data: [
                                "Profile",
                                "Setting",
                                "Log out"
                            ]
                        });
            $("#Nav ul li").popMenu({
                data: [
                    "dfsfsdfsdfsdfsdfsdf",
                    "Setting",
                    "Log outsfsfdsf"
                ]
            });
        });
block content
    div#Content
        div.main
