extends layout/layout-login
block content
    div#Wrapper.login-bg-color
        div#Login
            form(method="post" action="")
                div.login-header.list
                    div.logo
                    i SuperPort
                div.list
                    input(id="user" name="user" type="text" placeholder="UserName")
                div.list
                    input(id="pass" name="pass" type="password" placeholder="PassWord")
                div.list
                    a Forgot?
                    span#notice(style="margin-left:5px;color:red;display:none")
                div.list
                    div#Submit.button Login
    script.
        function submint(){
            var data = { user: $("#user").val(), pass: $("#pass").val() };
            $("input").val("");
            $.post("/rest/verify/user", data,
                    function(d){
                        if(d){
                            location.href = "/admin";
                        }else{
                            $("#notice").show().html("Username or Password error!");
                        }

                    });
        }
        $("#Submit").click(function(){
            submint();
        });
        $("body").keyup(function(e){
           if(e.keyCode==13){
               submint();
           }
        });
