/*Browser support IE7+*/

/*Base*/
.ns-pop{
    /*position: relative;*/
    /*position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1000000;
    zoom:1;
    background-image:url(../images/bg-cover.png);*/
}
.ns-pop-main{
    position:fixed;
    top:30%;
    left:50%;
    margin-left:-320px;
    max-width:600px;
    padding:25px 20px;
    min-height:300px;
    background-color:white;
    border-radius: 3px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
}
.ns-pop-close{
    position:absolute;
    top:15px;
    right:10px;
    color:#666;
    font-family: "ETmonarch";
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    font-weight: bolder;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    display: block;
}
.ns-pop-content{
    margin-top:20px;
    height:100%;
    width:100%;
    word-break: break-all;
    word-wrap: break-word;
    border:1px solid red;
}

.ns-menu:after,
.ns-menu-main:after {
    height: 0;
    content: "after";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
    > zoom : 1;
}
.ns-menu-items {
    position:relative;
    width: 100%;
}
.ns-menu-item{
    position:relative;
    width: 100%;
}
.ns-menu-main {
    display: none;
    position: absolute;
    float:left;
    min-width:200px;
    max-width:300px;
    background-color: #fff;
    border: 1px solid #333;
    z-index: 10000;
}
.ns-menu-one {
    float: left;
}

.ns-menu-bar {
    display: none;
    color: white;
    font-weight: bolder;
}

.ns-menu-a {
    display: block;
    padding: 1em 1.2em;
    color: #c0c0c0;
}

/*State*/
.ns-menu-scroll {
}

.ns-menu-open {
    background-color: #999;
}

.ns-menu-open > .ns-menu-a,
.ns-menu-open > .ns-menu-a *{
    color: #333!important;
}

.ns-menu-open > .ns-menu-main {
    display: block;
}

/*Theme*/
/*Theme-white*/
.ns-menu-white .ns-menu-main {
    background-color: #f3f3f3;
    border-color: rgba(146, 152, 164, 0.8);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.ns-menu-white .ns-menu-a {
    color: #333;
    font-weight:bold;
}

.ns-menu-white .ns-menu-item .ns-menu-a:hover,
.ns-menu-white .ns-menu-item .ns-menu-a:focus {
    background-color:#e6e6e6;
}

.ns-menu-white .ns-menu-open {
    background-color: #e6e6e6;
}

.ns-menu-white .ns-menu-open>.ns-menu-a {
    color: #333;
}

.ns-menu-white .ns-menu-open>.ns-menu-a:hover {
    background-color: #e6e6e6;
}

/*Theme-black*/
.ns-menu-black, .ns-menu-black .ns-menu-main {
    background-color: #666;
}

.ns-menu-black .ns-menu-item .ns-menu-a {
    color: #999;
}

.ns-menu-black .ns-menu-item .ns-menu-a:hover,
.ns-menu-black .ns-menu-item .ns-menu-a:focus {
    background-color: #333;
}

.ns-menu-black .ns-menu-open {
    background-color: #1F8DD6;
}

.ns-menu-black .ns-menu-open .ns-menu-a {
    color: #fff;
}

.ns-menu-black .ns-menu-open .ns-menu-a:hover {
    background-color: #1F8DD6;
}


/*Size*/
.ns-nav-s,
.ns-nav-s .ns-nav-one,
.ns-nav-s .ns-nav-one .ns-nav-item,
.ns-nav-s .ns-nav-one .ns-nav-item .ns-nav-a {
}

.ns-nav-m,
.ns-nav-m .ns-nav-one,
.ns-nav-m .ns-nav-one .ns-nav-item,
.ns-nav-m .ns-nav-one .ns-nav-item .ns-nav-a {
}

.ns-nav-l {
}

.ns-nav-xl {
}

.ns-nav-xxl {
}

.ns-nav-xxxl {
}

/*Resize*/
@media only screen and (max-width: 1024px) {
    .ns-nav-bar-set {
        display: block;
    }

    .ns-nav-items-set {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .ns-nav-bar {
        display: block;
    }

    .ns-nav-list {
        width: auto;
    }

    .ns-nav-items {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
}

@media only screen and (min-width: 320px) and (max-width: 639px) {
}