doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/base.css')
    link(rel='stylesheet', href='/styles/login.css')
    script(src="/libs/libs/jquery-1.8.0.libs")
  body
    block content