doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/style.css')
  body
    div#wrapper
        div#Navi
            ul
                li Home
                li
    block content