div#Header
    div.main
        div#Logo.one
        div#Nav.one
            ul
                li
                    a(href="/admin") System
                    i.icon
                li
                    a(href="/admin") Project
                    i.icon
                li
                    a(href="/admin") Module
                    i.icon
                li
                    a(href="/admin") Components
                    i.icon
                li
                    a(href="/admin") Template
                    i.icon
                li
                    a(href="/admin") Database
                    i.icon
                li
                    a(href="/admin") Help
                    i.icon
        div#Set.one.lay-right
            div.setting
            div.info
                | liuyang